<footer class='footer'>
            <a class="icon-arrow-up7" id="top" href="#wrap"></a>
            <aside class="footer-widget-area widget-area">
                <div class="container nz-clearfix">
                    <div class="nz-row">
                        <div id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <img src="${base}/img/logo_white.svg" alt="footer-logo">
                                <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                                <ul class="footer-list-item">
                                    <li style="width: 80%">
                                        <span>Token Media is a federation of blockchain-related self-media associations in China. Token Magadata is a self-media big data platform under the Association, which is conducted by monitoring the public data (such as essay reading, praise amount and article title) of relevant public numbers in the industry Analysis of the relevant data.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="twitter-2" class="widget widget_text">
                            <h6 class="widget_title">Business Cooperation</h6>
                            <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                            <div class="textwidget">
                                <ul class="footer-list-item">
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">Email Address：</span>
                                            <span class="list-text">block_media@163.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">Contact Number：</span>
                                            <span class="list-text">18227288292</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">Address：</span>
                                            <span class="list-text">Room 1302, No.233, Lane 133, Lujiazui Financial Center, Pudong New Area, Shanghai</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="our-code" class="widget widget_text">
                            <h6 class="widget_title">Follow Us</h6>
                            <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                            <div class="show-code">
                                <img src="${base}/img/our-code.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="footer-content">
                <div class="container nz-clearfix">
                    <nav class="footer-menu nz-clearfix">
                        <ul id="footer-menu" class="menu">
                            <li id="menu-item-141" class="menu-item-141"><a href="${base}/home/en">Home Page</a></li>
                            <li id="menu-item-142" class="menu-item-142"><a href="${base}/top/en">Top</a></li>
                            <li id="menu-item-143" class="menu-item-143"><a href="#">Business Cooperation</a></li>
                        </ul>
                    </nav>
                    <div class="footer-info">
                        <span style="font-size:14px">&copy; 2018 Token Media</span>
                    </div>
                </div>
            </div>
        </footer>