<!DOCTYPE html>
<!--[if lt IE 7]>
<html data-color="#00a388" class="no-js ie6 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html data-color="#00a388" class="no-js ie7 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html data-color="#00a388" class="no-js ie8 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 9]>
<html data-color="#00a388" class="no-js ie9 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!-->
<!--<![endif]-->

<html data-color="#00a388" class="no-js btn-rounded btn-3d blank-true" lang="en-US">
<head>
	[#assign base=request.contextPath /]
    <!--TITLE-->
    <title>TOKEN MEDIA</title>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->
    <link rel='stylesheet' href='css/js_composer.css' type='text/css' media='all'/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/common.css" type="text/css" media="screen">
</head>

<body class="page page-id-156 page-template-default wpb-js-composer js-comp-ver-4.4.4 vc_responsive">
<!-- 整体底板 -->
<div id="gen-wrap">
    <div id="wrap" class="nz-wide">
        <!--移动端头部-->
        <header class="header mob-header mob-height-90 mob-int-true mob-sidebar-true mob-search-true">
            <div class="logo-toggle">
                <div class="container nz-clearfix">
                    <!--移动端头部logo-->
                    <div class="logo logo-mob">
                        <a href="${base}/">
                            <img src="img/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <!--移动端功能下拉菜单-->
                    <div class="menu-toggle" title="Toggle menu">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="header-content">
                <!--移动端下拉菜单内容-->
                <nav class="header-menu mob-menu nz-clearfix">
                    <ul id="mob-header-menu" class="menu">
                        <li><a href="${base}/">首页</a></li>
                        <li><a href="${base}/showDetails">排行榜</a></li>
                        <li><a href="#">商业合作</a></li>
                    </ul>
                    <ul id="change-menu" class="menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Chinese</a></li>
                    </ul>
                </nav>
            </div>

        </header>
        <!--宽屏头部-->
        <header data-fixedh="70" class="header desk desk-height-90 desk-sl-true desk-sl-align-right desk-ls-false desk-di-false desk-fixed-true fixed-height-70 stuck-height-90 stuck-false effect-upperline sub-effect-ghost desk-sidebar-true top-false stuck-top-false menu-border-true">
            <div class="header-content">
                <div class="container nz-clearfix">
                    <div class="header-cont">
                        <!--宽屏logo-->
                        <div class="logo logo-desk">
                            <a href="${base}/">
                                <img src="img/logo.svg" alt="Logo">
                            </a>
                        </div>
                        <div class="logo logo-fixed">
                            <a href="${base}/">
                                <img src="img/logo.svg" alt="Logo">
                            </a>
                        </div>
                        <!--中英文切换按钮-->
                        <nav class="highlights-menu nz-clearfix">
                            <ul id="highlights-menu" class="menu">
                                <li>
                                    <a href="#">
                                        <img src="img/chinese.png" alt="lang_pic">
                                        <span>Chinese</span>
                                    </a>
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <img src="img/english.png" alt="lang_pic">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="img/chinese.png" alt="lang_pic">
                                                <span>Chinese</span>
                                            </a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </nav>
                        <!--宽屏导航功能-->
                        <nav class="header-menu desk-menu nz-clearfix">
                            <ul class="menu">
                                <li><a href="${base}/">首页</a></li>
                                <li><a href="${base}/showDetails">排行榜</a></li>
                                <li><a href="#">商业合作</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--图片轮播banner-->
        <div id="ninzio-slider" data-autoheight="false" data-arrow="false" data-parallax="false" data-fixed="false"
             data-transition="fade" data-layout="wide" data-height="560" data-mobile="true" data-autoplaydelay="9000"
             data-autoplay="true" data-bullets="true" data-arrows="true">
            <!--图片轮播箭头图标-->
            <div id="slider-arrow" data-target="#nz-content" class="i-separator animate nz-clearfix">
                <i class="icon-arrow-down8"></i>
            </div>
            <!--背景图片只支持2张-->
            <ul class="ninzio-slides">
                <!--第一张图片-->
                <li class="post-1386 ninzio-slider type-ninzio-slider status-publish hentry" data-video="false" id="post-1386">
                    <div class="slider-canvas container">
                        <div id="ninzio-layer-1386-1" class="ninzio-layer scaleout" data-direction="scaleout" data-posx="245" data-posy="115">
                            <div class="layer-wrap">
                                <h2>
                                    <span>中国区块链自媒体影响力大数据</span>
                                </h2>
                            </div>
                        </div>
                        <div id="ninzio-layer-1386-3" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap">
                                <div data-id="nz-colorbox-3" class="nz-colorbox nz-clearfix">
                                    <p>
                                        <span>可能是区块链自媒体最全指南</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="ninzio-layer-1386-4" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap">
                                <a class="button button-3d green medium rounded animate-false anim-type-ghost extra-green" href="#" target="_self">
                                    <span class="txt">公众号排行榜</span>
                                </a>
                            </div>
                        </div>
                        <div id="ninzio-layer-1386-5" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap">
                                <a class="button button-3d grey medium rounded animate-false anim-type-ghost extra-grey" href="#" target="_self">
                                    <span class="txt">社群影响力</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--第二张图片-->
                <!--<li class="post-1380 ninzio-slider type-ninzio-slider status-publish hentry" data-video="false" id="post-1380">-->
                    <!--<div class="slider-canvas container">-->
                        <!--<div id="ninzio-layer-1380-1" class="ninzio-layer scaleout" data-direction="scaleout" data-posx="0" data-posy="105">-->
                            <!--<div class="layer-wrap">-->
                                <!--<h2>-->
                                    <!--<span>Welcome to</span>-->
                                <!--</h2>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div id="ninzio-layer-1380-2" class="ninzio-layer scaleout" data-direction="scaleout" data-posx="0" data-posy="170">-->
                            <!--<div class="layer-wrap">-->
                                <!--<p>-->
                                    <!--<span>MOBILZ THEME</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div id="ninzio-layer-1380-3" class="ninzio-layer scaleout" data-direction="scaleout"-->
                             <!--data-posx="0" data-posy="260">-->
                            <!--<div class="layer-wrap">-->
                                <!--<div data-id="nz-colorbox-1" class="nz-colorbox nz-clearfix">-->
                                    <!--<p>-->
                                        <!--<span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat  legentis in dynamicus</span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div id="ninzio-layer-1380-4" class="ninzio-layer scaleout" data-direction="scaleout" data-posx="0" data-posy="380">-->
                            <!--<div class="layer-wrap">-->
                                <!--<a class="button button-3d green medium rounded animate-false anim-type-ghost extra-green" href="#" target="_self">-->
                                    <!--<span class="txt">按钮1-1</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div id="ninzio-layer-1380-5" class="ninzio-layer scaleout" data-direction="scaleout" data-posx="180" data-posy="380">-->
                            <!--<div class="layer-wrap">-->
                                <!--<a class="button button-3d grey medium rounded animate-false anim-type-ghost extra-grey" href="#" target="_self">-->
                                    <!--<span class="txt">按钮1-2</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
        <!--主要展示部分-->
        <div class='page-full-width'>
            <!-- content start -->
            <div class='content nz-clearfix'>
                <!-- post start -->
                <div id="post-156" class="post-156 page type-page status-publish">
                    <!--公众号影响力-->
                    <section class="page-content nz-clearfix">
                        <!--公众号影响力排行标题-->
                        <div class="nz-section horizontal animate-false full-width-true" style="background-color: #F7F7F7">
                            <div class="container">
                                <div class="nz-row">
                                    <div class="col col12  col-animate-true" data-align="left">
                                        <div class="nz-column-text nz-clearfix">
                                            <h3 class="page-title">公众号影响力排行榜</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="title-bottom hr-green">
                        </div>
                        <div class="nz-section full-width-true" style="background: linear-gradient(to bottom, #f7f7f7 50%, #FFFFFF 50%);">
                            <div class="container">
                                <div class="nz-row top-three">
                                	[#assign n = 0]
                                	[#list accounts as account]
                                	[#assign n = n+1]
                                	[#if n > 3]   
									[#break]
									[/#if]
                                    <div class="col4">
                                        <!--前三名显示-->
                                        <div class="top-three-item">
                                            <!--名次标签-->
                                            <div class="top-label">
                                                <span>${account_index+1}</span>
                                            </div>
                                            <!--头像、详情按钮-->
                                            <div class="top-user-icon">
                                                <img src="${account.logurl}">
                                                <div class="btn-block">
                                                    <button type="button" onclick="detail(${account.id})">详情</button>
                                                </div>
                                            </div>
                                            <!--用户名-->
                                            <div class="top-user-name">
                                                <h5>${account.bizName!""}</h5>
                                            </div>
                                            <!--公众号-->
                                            <div class="top-user-code">
                                                <span>公众号：</span>
                                                <span>${account.wechatid}</span>
                                            </div>
                                            <!--详情列表-->
                                            <div class="top-user-list">
                                                <table>
                                                    <tr>
                                                        <td>预估活跃粉丝：</td>
                                                        <td>${account.fans}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>一周头条平均阅读量：</td>
                                                        <td><span class="red-font">${account.weekReadMean}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>每周阅读总量：</td>
                                                        <td>${account.weekReadCount}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>每周推文数量：</td>
                                                        <td>${account.weekPushCount}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    [/#list]
                                </div>
                            </div>
                        </div>
                        <div class="nz-section full-width-true">
                            <div class="container">
                                <table id="top_lists">
                                    <thead>
                                    <tr>
                                        <th>排行</th>
                                        <th>公众号</th>
                                        <th>预估活跃粉丝</th>
                                        <th>近一周头条平均阅读量</th>
                                        <th>每周阅读总量</th>
                                        <th>每周推文数量</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    [#assign m = 0]
                                	[#list accounts as account]
                                	[#assign m = m+1]
                                	[#if m > 3]
                                	<tr>
                                        <td>
                                            <span>${account_index+1}</span>
                                        </td>
                                        <td>
                                            <img src="${account.logurl}">
                                            <div class="top-detail">
                                                <span class="top-list-name">${account.bizName!""}</span>
                                                <span class="top-list-code">${account.wechatid}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span>${account.fans}</span>
                                        </td>
                                        <td>
                                            <span>${account.weekReadMean}</span>
                                        </td>
                                        <td>
                                            <span>${account.weekReadCount}</span>
                                        </td>
                                        <td>
                                            <span>${account.weekPushCount}</span>
                                        </td>
                                        <td>
                                            <button type="button" onclick="detail(#{account.id})">详情</button>
                                        </td>
                                    </tr>
									[/#if]
                                    [/#list]
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="nz-section full-width-true">
                            <div class="container">
                                <div class="nz-row">
                                    <div class="col12" style="text-align: center;padding-top: 30px;margin-bottom: 0">
                                        <button type="button" onclick="showDetails()">查看全部</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--社群影响力-->
                    <section class="page-content nz-clearfix" style="margin-top: 50px">
                        <!--社群影响力标题-->
                        <div class="nz-section horizontal animate-false full-width-true" style="background-color: #f7f7f7;padding-bottom: 40px">
                            <div class="container">
                                <div class="nz-row">
                                    <div class="col col12  col-animate-true" data-align="left">
                                        <div style="" class="nz-column-text nz-clearfix">
                                            <h3 class="page-title">社群影响力</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="title-bottom hr-red">
                        </div>
                        <!--社群影响力几何图形展示-->
                        <div class="nz-section full-width-true" style="background: linear-gradient(to bottom, #f7f7f7 50%, #FFFFFF 50%)";>
                            <div class="container">
                                <div class="nz-row six-box">
                                    <div class="six-1">
                                        <div class="text1">
                                            <span>335</span>
                                            <span>人</span>
                                        </div>
                                        <div class="text2">
                                            <span>媒体账号</span>
                                        </div>
                                        <div class="text3">
                                            <span>TokenMedia已收录币圈微信公众号共计335个</span>
                                        </div>
                                    </div>
                                    <div class="six-2">
                                        <div class="text1">
                                            <span>覆盖人群</span>
                                        </div>
                                        <div class="text2">
                                            <span>TokenMedia每天共计监控超过500+文章，每天分析超过13000000+次阅读量为您呈现最详细的行业数据</span>
                                        </div>
                                        <div class="text3">
                                            <span>13,000,000</span>
                                            <span>次</span>
                                        </div>
                                    </div>
                                    <div class="six-3">
                                        <div class="text1">
                                            <span>协会成员</span>
                                        </div>
                                        <div class="text2">
                                            <span>超过30+公众号已加入TokenMedia,与协会共同发展</span>
                                        </div>
                                        <div class="text3">
                                            <span>30+</span>
                                            <span>个</span>
                                        </div>
                                    </div>
                                    <div class="six-4">
                                        <div class="text1">
                                            <span>微信群</span>
                                        </div>
                                        <div class="text2">
                                            <span>873个微信群已经和TokenMedia达成共识</span>
                                        </div>
                                        <div class="text3">
                                            <span>873</span>
                                            <span style="font-size: 24px;">个</span>
                                        </div>
                                    </div>
                                    <div class="six-5">
                                        <div class="text1">
                                            <span>982</span>
                                            <span>个</span>
                                        </div>
                                        <div class="text2">
                                            <span>QQ群</span>
                                        </div>
                                        <div class="text3">
                                            <span>已有982个QQ群和TokenMedia开始合作</span>
                                        </div>
                                    </div>
                                    <div class="six-6">
                                        <div class="text1">
                                            <span>影响力</span>
                                        </div>
                                        <div class="text2">
                                            <span>TokenMedia已经和众多微信公众号、微信群主、QQ群主、知识星球圈群主、微博大V、知乎大V、贴吧吧主达成合作协议。影响力预计覆盖3000000人次</span>
                                        </div>
                                        <div class="text3">
                                            <span>3,000,000</span>
                                            <span>人</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                   
                    
                    
                    
                </div>
                <!-- post end -->
            </div>
            <!-- content end -->
        </div>
        <!-- 页面主体结束 -->

        <!-- 尾部开始 -->
        <footer class='footer'>
            <a class="icon-arrow-up7" id="top" href="#wrap"></a>
            <aside class="footer-widget-area widget-area">
                <div class="container nz-clearfix">
                    <div class="nz-row">
                        <div id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <img src="img/logo_white.svg" alt="footer-logo">
                                <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                                <ul class="footer-list-item">
                                    <li style="width: 80%">
                                        <span>Token Media是国内区块链相关自媒体的联合协会，Token Magadata是协会下面的自媒体大数据平台，通过监控行业内相关公众号的公开数据（比如文章阅读量、点赞量、文章标题）进行分析得到相关数据。</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="twitter-2" class="widget widget_text">
                            <h6 class="widget_title">商务合作</h6>
                            <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                            <div class="textwidget">
                                <ul class="footer-list-item">
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">联系邮箱：</span>
                                            <span class="list-text">block_media@163.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">联系电话：</span>
                                            <span class="list-text">18227288292</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">联系地址：</span>
                                            <span class="list-text">上海市浦东新区陆家嘴金融中心133弄233号1302</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="our-code" class="widget widget_text">
                            <h6 class="widget_title">关注我们</h6>
                            <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                            <div class="show-code">
                                <img src="img/our-code.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="footer-content">
                <div class="container nz-clearfix">
                    <nav class="footer-menu nz-clearfix">
                        <ul id="footer-menu" class="menu">
                            <li id="menu-item-141" class="menu-item-141"><a href="${base}/">首页</a></li>
                            <li id="menu-item-142" class="menu-item-142"><a href="${base}/showDetails">排行榜</a></li>
                            <li id="menu-item-143" class="menu-item-143"><a href="#">商业合作</a></li>
                        </ul>
                    </nav>
                    <div class="footer-info">
                        <span style="font-size:14px">&copy; 2018 Token Media</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- 尾部结束 -->
    </div>
    <!-- 页面容器结束 -->
</div>
<!-- 整个底板结束 -->
<script type='text/javascript' src='js/jquery/jquery.js'></script>
<script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='js/modernizr.js'></script>

<script type='text/javascript' src='js/jquery-blockui/jquery.blockUI.min.js'></script>

<script type='text/javascript' src='js/frontend/woocommerce.min.js'></script>
<script type='text/javascript' src='js/jquery-cookie/jquery.cookie.min.js'></script>

<script type='text/javascript' src='js/jquery.shuffle.js'></script>
<script type='text/javascript' src='js/plugins.js'></script>
<script type='text/javascript' src='js/controller.js'></script>
<script type='text/javascript' src='js/js_composer_front.js'></script>
<script type='text/javascript' src='js/contact-form.js'></script>
<script>
    $(document).ready(function () {
        $(".highlights-menu .menu>li").on("click",function () {
            $(this).find("ol").slideToggle();
        })
    })
    
   	function showDetails(){
    	window.location.href="/top";
    }
    
    function detail(id){
    	window.location.href="/detail/"+id;
    }
    
</script>
</body>
</html>