<!DOCTYPE html>
<!--[if lt IE 7]>
<html data-color="#00a388" class="no-js ie6 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html data-color="#00a388" class="no-js ie7 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html data-color="#00a388" class="no-js ie8 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 9]>
<html data-color="#00a388" class="no-js ie9 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!-->
<!--<![endif]-->

<html data-color="#00a388" class="no-js btn-rounded btn-3d blank-true" lang="en-US">
<head>
	[#assign base=request.contextPath /]
    <!--TITLE-->
    <title>TOKEN MEDIA</title>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->
    <link rel='stylesheet' href='${base}/css/js_composer.css' type='text/css' media='all'/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="${base}/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="${base}/css/common.css" type="text/css" media="screen">
</head>

<body class="page page-id-156 page-template-default wpb-js-composer js-comp-ver-4.4.4 vc_responsive" style="background-color: #F7F7F7">
<!-- 整体底板 -->
<div id="gen-wrap">
    <div id="wrap" class="nz-wide">
    	<!-- 头部开始 -->
        [#include "common/header.html" /]
        <!-- 头部结束 -->
        <!--主要展示部分-->
        <div class='page-full-width' style="min-width: 1100px">
            <!-- content start -->
            <div class="content nz-clearfix">
                <section class="page-content nz-clearfix" style="margin: 40px 0px">
                    <div class="nz-section horizontal animate-false full-width-true" style="padding: 30px">
                        <div class="container">
                            <div class="nz-row">
                                <div class="official-detail">
                                    <div class="official-icon">
                                        <img src="${detail.head}" alt="user-icon">
                                    </div>
                                    <div class="official-right">
                                        <div class="official-row1">
                                            <h5>${detail.bizName!""}</h5>
                                            <div class="show-code">
                                                <img src="${detail.qrCode}" alt="code">
                                            </div>
                                            <ul class="official-tag">
                                             <!--    <li>
                                                    <span></span>
                                                </li>
                                                <li>
                                                    <span>标签1</span>
                                                </li>
                                                <li>
                                                    <span>标签2</span>
                                                </li> -->
                                            </ul>
                                        </div>
                                        <ul class="official-msg">
                                            <li>
                                                <span class="o-content">${detail.wechatId}</span>
                                            </li>
                                           <!--  <li>
                                                <span class="o-label">运营主体：</span>
                                                <span class="o-content">个人</span>
                                            </li> -->
                                            <li>
                                                <span class="o-label">功能介绍：</span>
                                                <span class="o-content">${detail.bizDesc!""}</span>
                                            </li>
                                            <!-- <li>
                                                <span class="o-label">注册地区：</span>
                                                <span class="o-content">中国</span>
                                            </li>
                                            <li>
                                                <span class="o-label">注册时间：</span>
                                                <span class="o-content">3年以上</span>
                                            </li>
                                            <li>
                                                <span class="o-label">所属行业：</span>
                                                <span class="o-content">资讯</span>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-row" id="chart-box" style="margin-top: 50px">
                                <div class="chart-header">
                                    <h5>近期数据统计</h5>
                                </div>
                                <div class="chart-item">
                                    <div>
                                        <span class="chart-num">${detail.fans}</span>
                                        <span class="chart-txt">公众号预估活跃粉丝数</span>
                                    </div>
                                   	<div>
                                        <span class="chart-num">${detail.weekPushCount}</span>
                                        <span class="chart-txt">文章发布数</span>
                                    </div>
                                    <div>
                                        <span class="chart-num">${detail.firstAvgRead}</span>
                                        <span class="chart-txt">头条平均阅读</span>
                                    </div>
                                    <div>
                                        <span class="chart-num">${detail.secondAvgRead}</span>
                                        <span class="chart-txt">次条平均阅读</span>
                                    </div>
                                    <div>
                                        <span class="chart-num">${detail.thirdMoreAvgRead}</span>
                                        <span class="chart-txt">3-n条阅读</span>
                                    </div>
                                </div>
                                <div class="official-charts" id="myChart"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->
        </div>
        <!-- 页面主体结束 -->

        <!-- 尾部开始 -->
        [#include "common/footer.html" /]
        <!-- 尾部结束 -->
    </div>
    <!-- 页面容器结束 -->
</div>
<!-- 整个底板结束 -->
<script type='text/javascript' src='${base}/js/jquery/jquery.js'></script>
<script type='text/javascript' src='${base}/js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='${base}/js/modernizr.js'></script>

<script type='text/javascript' src='${base}/js/jquery-blockui/jquery.blockUI.min.js'></script>

<script type='text/javascript' src='${base}/js/frontend/woocommerce.min.js'></script>
<script type='text/javascript' src='${base}/js/jquery-cookie/jquery.cookie.min.js'></script>

<script type='text/javascript' src='${base}/js/jquery.shuffle.js'></script>
<script type='text/javascript' src='${base}/js/plugins.js'></script>
<script type='text/javascript' src='${base}/js/controller.js'></script>
<script type='text/javascript' src='${base}/js/js_composer_front.js'></script>
<script type='text/javascript' src='${base}/js/contact-form.js'></script>
<script src="${base}/js/echarts.simple.min.js"></script>
<script src="${base}/js/wonderland.js"></script>
<script>
    $(document).ready(function () {
        $(".highlights-menu .menu>li").on("click",function () {
            $(this).find("ol").slideToggle();
        })
    })

    var r = new Array();
    var count = '${detail.firstAvgRead!0}';
    r = randomDivide(count.replace(',',''),6);
    function randomDivide(total, nums) {
        r = Array.apply(null, { length: nums })
            .map((n, i) => nums - i)
            .map(n => {
                var v = 1 + Math.floor(Math.random() * (total / n * 2 - 1));
                total -= v;
                return v;
            });
        r.push(total);
        return r;
    }
    
    var myChart=echarts.init(document.getElementById("myChart"),"wonderland");
    option = {
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['最近阅读量变化']
        },
        calculable : true,
        xAxis : [
            {
            	show : false,
                type : 'category',
                boundaryGap : false,
                data : ['一月','二月','三月','四月','五月','六月','七月']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLabel : {
                    formatter: '{value}'
                }
            }
        ],
        series : [
            {
                name:'最近阅读量变化',
                type:'line',
                data: r,
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                }
            }
        ]
    };

    myChart.setOption(option)
</script>
</body>
</html>