<footer class='footer'>
            <a class="icon-arrow-up7" id="top" href="#wrap"></a>
            <aside class="footer-widget-area widget-area">
                <div class="container nz-clearfix">
                    <div class="nz-row">
                        <div id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <img src="img/logo_white.svg" alt="footer-logo">
                                <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                                <ul class="footer-list-item">
                                    <li style="width: 80%">
                                        <span>Token Media是国内区块链相关自媒体的联合协会，Token Magadata是协会下面的自媒体大数据平台，通过监控行业内相关公众号的公开数据（比如文章阅读量、点赞量、文章标题）进行分析得到相关数据。</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="twitter-2" class="widget widget_text">
                            <h6 class="widget_title">商务合作</h6>
                            <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                            <div class="textwidget">
                                <ul class="footer-list-item">
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">联系邮箱：</span>
                                            <span class="list-text">block_media@163.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">联系电话：</span>
                                            <span class="list-text">18227288292</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="footer-label">联系地址：</span>
                                            <span class="list-text">上海市浦东新区陆家嘴金融中心133弄233号1302</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="our-code" class="widget widget_text">
                            <h6 class="widget_title">关注我们</h6>
                            <div class='gap nz-clearfix' style='height:20px'>&nbsp;</div>
                            <div class="show-code">
                                <img src="img/our-code.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="footer-content">
                <div class="container nz-clearfix">
                    <nav class="footer-menu nz-clearfix">
                        <ul id="footer-menu" class="menu">
                            <li id="menu-item-141" class="menu-item-141"><a href="${base}/">首页</a></li>
                            <li id="menu-item-142" class="menu-item-142"><a href="${base}/top">排行榜</a></li>
                            <li id="menu-item-143" class="menu-item-143"><a href="#">商业合作</a></li>
                        </ul>
                    </nav>
                    <div class="footer-info">
                        <span style="font-size:14px">&copy; 2018 Token Media</span>
                    </div>
                </div>
            </div>
        </footer>