<!--移动端头部-->
        <header class="header mob-header mob-height-90 mob-int-true mob-sidebar-true mob-search-true">
            <div class="logo-toggle">
                <div class="container nz-clearfix">
                    <!--移动端头部logo-->
                    <div class="logo logo-mob">
                        <a href="${base}/">
                            <img src="${base}/img/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <!--移动端功能下拉菜单-->
                    <div class="menu-toggle" title="Toggle menu">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="header-content">
                <!--移动端下拉菜单内容-->
                <nav class="header-menu mob-menu nz-clearfix">
                    <ul id="mob-header-menu" class="menu">
                        <li><a href="${base}/">首页</a></li>
                        <li><a href="${base}/top">排行榜</a></li>
                        <li><a href="#">商业合作</a></li>
                    </ul>
                    <ul id="change-menu" class="menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Chinese</a></li>
                    </ul>
                </nav>
            </div>

        </header>
        <!--宽屏头部-->
        <header data-fixedh="70" class="header desk desk-height-90 desk-sl-true desk-sl-align-right desk-ls-false desk-di-false desk-fixed-true fixed-height-70 stuck-height-90 stuck-false effect-upperline sub-effect-ghost desk-sidebar-true top-false stuck-top-false menu-border-true">
            <div class="header-content">
                <div class="container nz-clearfix">
                    <div class="header-cont">
                        <!--宽屏logo-->
                        <div class="logo logo-desk">
                            <a href="${base}/">
                                <img src="${base}/img/logo.svg" alt="Logo">
                            </a>
                        </div>
                        <div class="logo logo-fixed">
                            <a href="${base}/">
                                <img src="${base}/img/logo.svg" alt="Logo">
                            </a>
                        </div>
                        <!--中英文切换按钮-->
                        <nav class="highlights-menu nz-clearfix">
                            <ul id="highlights-menu" class="menu">
                                <li>
                                    <a href="#">
                                        <img src="${base}/img/chinese.png" alt="lang_pic">
                                        <span>Chinese</span>
                                    </a>
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <img src="${base}/img/english.png" alt="lang_pic">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="${base}/img/chinese.png" alt="lang_pic">
                                                <span>Chinese</span>
                                            </a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </nav>
                        <!--宽屏导航功能-->
                        <nav class="header-menu desk-menu nz-clearfix">
                            <ul class="menu">
                                <li><a href="${base}/">首页</a></li>
                                <li><a href="${base}/top">排行榜</a></li>
                                <li><a href="#">商业合作</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>