<!DOCTYPE html>
<!--[if lt IE 7]>
<html data-color="#00a388" class="no-js ie6 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html data-color="#00a388" class="no-js ie7 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html data-color="#00a388" class="no-js ie8 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if IE 9]>
<html data-color="#00a388" class="no-js ie9 oldie btn-rounded btn-3d blank-true" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!-->
<!--<![endif]-->

<html data-color="#00a388" class="no-js btn-rounded btn-3d blank-true" lang="en-US">
<head>
	[#assign base=request.contextPath /]
    <!--TITLE-->
    <title>TOKEN MEDIA</title>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->
    <link rel='stylesheet' href='${base}/css/js_composer.css' type='text/css' media='all'/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="${base}/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="${base}/css/common.css" type="text/css" media="screen">
    <style>
        #top_lists thead tr th:nth-child(1){
            width: 8%;
        }

        #top_lists thead tr th:nth-child(2){
            width: 20%
        }

        #top_lists thead tr th:nth-child(3){
            width: 14%;
        }

        #top_lists thead tr th:nth-child(4){
            width: 20%;
        }
        #top_lists thead tr th:nth-child(5){
            width: 8%;
        }
        #top_lists thead tr th:nth-child(6){
            width: 8%;
        }
        #top_lists thead tr th:nth-child(7){
            width: 5%;
        }

        .six-box .six-1 .text1 span:nth-child(1){
            font-size: 50px;
        }

        .six-box .six-1 .text1 span:nth-child(2){
            font-size: 30px;
        }

        .six-box .six-1 .text2{
            font-size: 26px;
            padding-left: 10px;
        }

        .six-box .six-2 .text3 span:nth-child(1),.six-box .six-3 .text3 span:nth-child(1),.six-box .six-6 .text3 span:nth-child(1){
            font-size: 45px;
        }

        .six-box .six-2 .text3 span:nth-child(2),.six-box .six-3 .text3 span:nth-child(2),.six-box .six-6 .text3 span:nth-child(2){
            font-size: 30px;
        }

        .six-box .six-5 .text1{
            width: 100%;
        }

        .six-box .six-5 .text2{
            margin-left: 30px;
            margin-top: 15px;
        }

        .six-box .six-5 .text3{
            padding: 10px 30px;
        }

        .six-box .six-5 .text1 span:nth-child(1){
            font-size: 45px;
        }

        .six-box .six-5 .text1 span:nth-child(2){
            font-size: 30px;
        }

        .six-box .six-6 .text2{
            margin-top: 20px;
        }

        .six-box .six-6{
            padding: 30px 60px;
        }

        .six-box .six-6 .text3{
            margin-top: 10px;
        }

        #goodcover {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 133%;
            background-color: black;
            z-index: 2000;
            -moz-opacity: 0.8;
            opacity: 0.50;
            filter: alpha(opacity=80);
        }

        #code2 {
            padding: 30px;
            background-color: #fff;
            padding: 10px;
            position: absolute;
            display: none;
            left: 45%;
            z-index: 2002;
        }

        #closebt {
            float: right;
        }

        #closebt img {
            width: 20px;
        }

        .goodtxt {
            text-align: center;
        }

        .goodtxt p {
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            color: #000;
            font-weight: 600;
        }

        .code-img {
            width: 250px;
            margin: 30px auto 0 auto;
            padding: 10px;
        }

        .code-img img {
            width: 240px;
        }
    </style>
</head>

<body class="page page-id-156 page-template-default wpb-js-composer js-comp-ver-4.4.4 vc_responsive">
<!-- 整体底板 -->
<div id="gen-wrap">
    <div id="goodcover"></div>
    <div id="wrap" class="nz-wide">
        <!-- 头部开始 -->
        [#include "common/header.html" /]
        <!-- 头部结束 -->
        <!--图片轮播banner-->
        <div id="ninzio-slider" data-autoheight="false" data-arrow="false" data-parallax="false" data-fixed="false"
             data-transition="fade" data-layout="wide" data-height="560" data-mobile="true" data-autoplaydelay="9000"
             data-autoplay="true" data-bullets="true" data-arrows="true">
            <!--图片轮播箭头图标-->
            <div id="slider-arrow" data-target="#nz-content" class="i-separator animate nz-clearfix">
                <i class="icon-arrow-down8"></i>
            </div>
            <!--背景图片只支持2张-->
            <ul class="ninzio-slides">
                <!--第一张图片-->
                <li class="post-1386 ninzio-slider type-ninzio-slider status-publish" data-video="false" id="post-1386">
                    <div class="slider-canvas container">
                        <div id="ninzio-layer-1386-1" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap">
                                <h2 style="padding-left: 110px">
                                    <span>China Blockchain We-Media Influence Big Data</span>
                                </h2>
                            </div>
                        </div>
                        <div id="ninzio-layer-1386-3" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap">
                                <p style="padding-left: 320px">
                                    <span>Might be the Most Comprehensive Handbook of Blockchain We-Media</span>
                                </p>
                            </div>
                        </div>
                        <div id="ninzio-layer-1386-4" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap" style="padding-left: 300px">
                                <a class="button button-3d green medium rounded animate-false anim-type-ghost extra-green" href="#" target="_self">
                                    <span class="txt">Top Official Accounts</span>
                                </a>
                            </div>
                        </div>
                        <div id="ninzio-layer-1386-5" class="ninzio-layer scaleout" data-direction="scaleout">
                            <div class="layer-wrap" style="padding-left: 80px">
                                <a class="button button-3d grey medium rounded animate-false anim-type-ghost extra-grey" href="#" target="_self">
                                    <span class="txt">Social Influence</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--主要展示部分-->
        <div class='page-full-width'>
            <!-- content start -->
            <div class='content nz-clearfix'>
                <!-- post start -->
                <div id="post-156" class="post-156 page type-page status-publish">
                    <!--公众号影响力-->
                    <section class="page-content nz-clearfix">
                        <!--公众号影响力排行标题-->
                        <div class="nz-section horizontal animate-false full-width-true" style="background-color: #F7F7F7">
                            <div class="container">
                                <div class="nz-row">
                                    <div class="col col12  col-animate-true" data-align="left">
                                        <div class="nz-column-text nz-clearfix">
                                            <h3 class="page-title">Official Accounts Influence Ranking</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="title-bottom hr-green">
                        </div>
                        <div class="nz-section full-width-true" style="background: linear-gradient(to bottom, #f7f7f7 50%, #FFFFFF 50%);">
                            <div class="container">
                                <div class="nz-row top-three">
                                	[#assign n = 0]
                                	[#list accounts as account]
                                	[#assign n = n+1]
                                	[#if n > 3]   
									[#break]
									[/#if]
                                    <div class="col4">
                                        <!--前三名显示-->
                                        <div class="top-three-item">
                                            <!--名次标签-->
                                            <div class="top-label">
                                                <span>${account_index+1}</span>
                                            </div>
                                            <!--头像、详情按钮-->
                                            <div class="top-user-icon">
                                                <img src="${account.head}">
                                                <div class="btn-block">
                                                    <button type="button" onclick="detail(${account.id})">Details</button>
                                                </div>
                                            </div>
                                            <!--用户名-->
                                            <div class="top-user-name">
                                                <h5>${account.bizName!""}</h5>
                                            </div>
                                            <!--公众号-->
                                            <div class="top-user-code">
                                                <span>Official Accounts：</span>
                                                <span>${account.wechatId}</span>
                                            </div>
                                            <!--详情列表-->
                                            <div class="top-user-list">
                                                <table>
                                                    <tr>
                                                        <td>Estimated Active Fans：</td>
                                                        <td>${account.fans}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Average Weekly Views of Headlines：</td>
                                                        <td><span class="red-font">${account.weekReadMean}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Weekly Views：</td>
                                                        <td>${account.weekReadCount}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Weekly Posts：</td>
                                                        <td>${account.weekPushCount}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    [/#list]
                                </div>
                            </div>
                        </div>
                        <div class="nz-section full-width-true">
                            <div class="container">
                                <table id="top_lists">
                                    <thead>
                                    <tr>
                                        <th>Ranking</th>
                                        <th>Official Accounts</th>
                                        <th>Estimated Active Fans</th>
                                        <th>Average Weekly Views of Headlines</th>
                                        <th>Weekly Views</th>
                                        <th>Weekly Posts</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    [#assign m = 0]
                                	[#list accounts as account]
                                	[#assign m = m+1]
                                	[#if m > 3]
                                	<tr>
                                        <td>
                                            <span>${account_index+1}</span>
                                        </td>
                                        <td>
                                            <img src="${account.head}">
                                            <div class="top-detail">
                                                <span class="top-list-name">${account.bizName!""}</span>
                                                <span class="top-list-code">${account.wechatId}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span>${account.fans}</span>
                                        </td>
                                        <td>
                                            <span>${account.weekReadMean}</span>
                                        </td>
                                        <td>
                                            <span>${account.weekReadCount}</span>
                                        </td>
                                        <td>
                                            <span>${account.weekPushCount}</span>
                                        </td>
                                        <td>
                                            <button type="button" onclick="detail(#{account.id})">Details</button>
                                        </td>
                                    </tr>
									[/#if]
                                    [/#list]
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="nz-section full-width-true show_all_list">
                            <div class="container">
                                <div class="nz-row">
                                    <div class="col12" style="text-align: center;padding-top: 30px;margin-bottom: 0">
                                        <button type="button" onclick="showDetails()">Check All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--社群影响力-->
                    <section id="toSection2" class="page-content nz-clearfix" style="margin-top: 50px">
                        <!--社群影响力标题-->
                        <div class="nz-section horizontal animate-false full-width-true" style="background-color: #f7f7f7;padding-bottom: 40px">
                            <div class="container">
                                <div class="nz-row">
                                    <div class="col col12  col-animate-true" data-align="left">
                                        <div style="" class="nz-column-text nz-clearfix">
                                            <h3 class="page-title">Social Influence</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="title-bottom hr-red">
                        </div>
                        <!--社群影响力几何图形展示-->
                        <div class="nz-section full-width-true" style="background: linear-gradient(to bottom, #f7f7f7 50%, #FFFFFF 50%)";>
                            <div class="container" id="six-en">
                                <div class="nz-row six-box">
                                    <div class="six-1">
                                        <div class="text1">
                                            <span>335</span>
                                            <span>People</span>
                                        </div>
                                        <div class="text2">
                                            <span>Media Accounts</span>
                                        </div>
                                        <div class="text3">
                                            <span>TokenMedia has included 335 WeChat Official Accounts of currency circle.</span>
                                        </div>
                                    </div>
                                    <div class="six-2">
                                        <div class="text1">
                                            <span>Coverage</span>
                                        </div>
                                        <div class="text2">
                                            <span>TokenMedia monitors 500+ articles per day, and analyzes 13000000+ views every day to present you the most detailed industrial data.</span>
                                        </div>
                                        <div class="text3">
                                            <span>13,000,000</span>
                                            <span>Views</span>
                                        </div>
                                    </div>
                                    <div class="six-3">
                                        <div class="text1">
                                            <span>Association Members</span>
                                        </div>
                                        <div class="text2">
                                            <span>Over 30+ official accounts have joined TokenMedia to develop and grow with the association. </span>
                                        </div>
                                        <div class="text3">
                                            <span>30+</span>
                                            <span>Number</span>
                                        </div>
                                    </div>
                                    <div class="six-4">
                                        <div class="text1">
                                            <span>WeChat Group</span>
                                        </div>
                                        <div class="text2">
                                            <span>873 WeChat groups have achieved agreement with TokenMedia.</span>
                                        </div>
                                        <div class="text3">
                                            <span>873</span>
                                            <span style="font-size: 24px;">Number</span>
                                        </div>
                                    </div>
                                    <div class="six-5">
                                        <div class="text1">
                                            <span>982</span>
                                            <span>Number</span>
                                        </div>
                                        <div class="text2">
                                            <span>QQ Group</span>
                                        </div>
                                        <div class="text3">
                                            <span>982 QQ Groups have started to work with TokenMedia.</span>
                                        </div>
                                    </div>
                                    <div class="six-6">
                                        <div class="text1">
                                            <span>Influence</span>
                                        </div>
                                        <div class="text2">
                                            <span>TokenMedia has established partnerships with many WeChat official accounts, WeChat group leaders, QQ group leaders, Knowledge Planet group leaders, MicroBlog Big Vs, Quora Big Vs, and Post Bar Leaders. Its influence is estimated to cover 3,000,000 people.</span>
                                        </div>
                                        <div class="text3">
                                            <span>3,000,000</span>
                                            <span>People</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="${base}/img/en_pic.png" id="en-pic" style="display: none">
                            </div>
                        </div>
                    </section>
                    
                </div>
                <!-- post end -->
            </div>
            <!-- content end -->
        </div>
        <!-- 页面主体结束 -->

        <!-- 尾部开始 -->
        [#include "common/footer.html" /]
        <!-- 尾部结束 -->
    </div>
    <!-- 页面容器结束 -->
    <!--二维码-->
    <div id="code2">
        <div class="close1">
            <a href=" " id="closebt">
            <img src="${base}/img/close.gif">
        </a>
    </div>
    <div class="code-img"><img id="ewmsrc" src="${base}/img/our-code.jpeg"/></div>
</div>
</div>
<!-- 整个底板结束 -->
<script type='text/javascript' src='${base}/js/jquery/jquery.js'></script>
<script type='text/javascript' src='${base}/js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='${base}/js/modernizr.js'></script>

<script type='text/javascript' src='${base}/js/jquery-blockui/jquery.blockUI.min.js'></script>

<script type='text/javascript' src='${base}/js/frontend/woocommerce.min.js'></script>
<script type='text/javascript' src='${base}/js/jquery-cookie/jquery.cookie.min.js'></script>

<script type='text/javascript' src='${base}/js/jquery.shuffle.js'></script>
<script type='text/javascript' src='${base}/js/plugins.js'></script>
<script type='text/javascript' src='${base}/js/controller.js'></script>
<script type='text/javascript' src='${base}/js/js_composer_front.js'></script>
<script type='text/javascript' src='${base}/js/contact-form.js'></script>
<script>
    $(document).ready(function () {
        $(".highlights-menu .menu>li").on("click",function () {
            $(this).find("ol").slideToggle();
        })
    })
    
   	function showDetails(){
    	window.location.href="${base}/top/en";
    }
    
    function detail(id){
    	window.location.href="${base}/detail/en/"+id;
    }

    //弹出二维码
    $(".show_code").on("click", function () {
        $("#code2").center();
        $("#goodcover").show(0);
        $("#code2").show(0);
    })

    $("#closebt").on("click", function () {
        $("#code2").hide();
        $("#goodcover").hide();
    })

    $.fn.center = function (loaded) {
        var obj = this;
        body_width = parseInt($(window).width());
        body_height = parseInt($(window).height());
        block_width = parseInt(obj.width());
        block_height = parseInt(obj.height());

        left_position = parseInt((body_width / 2) - (block_width / 2) + $(window).scrollLeft());
        if (body_width < block_width) {
            left_position = 0 + $(window).scrollLeft();
        }
        ;

        top_position = parseInt((body_height / 2) - (block_height / 2) + $(window).scrollTop());
        if (body_height < block_height) {
            top_position = 0 + $(window).scrollTop();
        }
        ;

        if (!loaded) {

            obj.css({
                'position': 'absolute'
            });
            obj.css({
                'top': ($(window).height() - $('#code2').height()) * 0.5,
                'left': left_position
            });
            $(window).bind('resize', function () {
                obj.center(!loaded);
            });
            $(window).bind('scroll', function () {
                obj.center(!loaded);
            });

        } else {
            obj.stop();
            obj.css({
                'position': 'absolute'
            });
            obj.animate({
                'top': top_position
            }, 200, 'linear');
        }
    }
    
</script>
</body>
</html>