html body {
	background-color: #003333;
	font-family: 'Microsoft YaHei';
}

button, input, select, textarea, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Microsoft YaHei';
}

.login {
	width: 400px;
	height: auto;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-label {
	color: white;
}

.login-btn {
	width: 200px;
}